<div ng-controller="CleaningServicesCtrl"> 
	<div class="col-md-8">
		<h1>Let's Get You Cleaned Up</h1>
		<div id="calendar" ui-calendar="calendarOptions.calendar" ng-model="eventSources"></div>
		<!-- <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div> -->
	</div>
	<button type="button" ng-click="makeReservation()">Save</button>
	
		<!-- <div class="col-md-4">
			<form name= "filter">	
			<h4>Date</h4>
			<div class="row">
				<div class="col-md-6">
			  	<p class="input-group">
			    	<input id="reservationDate" name= "reservationDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			      <span class="input-group-btn">
			      	<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			      </span>
			    </p>
			  </div>
			</div>
			    
			<h4>Start Time </h4>
			<div timepicker id="startTime" name="startTime" ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
			<h4>End Time </h4>
			<div timepicker id="endTime" name="endTime" ng-model="mytime1" ng-change="changed1()" hour-step="hstep1" minute-step="mstep1" show-meridian="ismeridian1"></div>
			<h4>Number of Employees</h4>
			<input name="employee_number" id="employee_number" type="text" ng-model="employee_number" />
			<h4>Location</h4>
			<div class="input-group">
	    	<select name="location" id="location" class="form-control" ng-model="location" required>
	    		<option value="1">Bukit Bintang</option>
	    		<option value="2">Petaling Jaya</option>
	    		<option value="3">Mont Kiara</option>
	    		<option value="4">Sri Petaling</option>
	    		<option value="5">Cyberjaya</option>
				</select>
			</div>
			
		</form>	
	</div> -->
	
</div>
	