<div ng-controller="CleaningServicesCtrl"> 
	<div class="row">
		<div class="homepageimage"></div>
		<div class="col-xs-12">
			<div class="col-xs-4">
				<img ng-src="images/serviceimage1.png" />
				<p style="text-align: center;">Batteries not included</p>
				<a class="btn btn-primary" ng-href="#/maid-cleaners" ng-click="getServiceID('1')">Book Now!</a>
			</div>
			<div class="col-xs-4">
				<img ng-src="images/serviceimage1.png"/>
				<p style="text-align: center;">Dont let the bed bugs bite</p>
				<button class="btn btn-primary">Book Now!</button>
			</div>
			<div class="col-xs-4">
				<img ng-src="images/serviceimage1.png"/>
				<p style="text-align: center;">A whole new world</p>
				<button class="btn btn-primary">Book Now!</button>
			</div>
		</div>
	</div>	
</div>
	