<div ng-controller='CleaningServicesCtrl' ng-init= 'getlocations()'> 
	<div class="container">
		<h3>Part-Time Cleaners</h3>
		<form name= "filter">
			<div class="btn-group" dropdown>
				<select class="selected_location" ng-options="perlocation as perlocation.name for perlocation in locations" ng-model="cleaningServiceLocation">
				<option value="">Please Select Location</option>
				</select> 
	    <div>
				<h4>Date</h4>
				<div class="col-md-6">
					<p class="input-group">
		      	<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="cleaningServiceDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
		        <span class="input-group-btn">
		          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		        </span>
		      </p>
		    </div>
			</div>
		</div>
		<button type="button" class="btn btn-default" ng-click="loadPackagesView()">Check Availability</button>
	</form>
		<tabset justified="true">
    	<tab heading="Sunday">
    		<div>
    			<h6>Available Time Slots</h6>
    				<table class="table table-bordered data-table">
    					<thead style="border-style: none; background-color: turquoise;">
    						<tr>
    							<th style="text-align: center; border: none;">Time</th>
    							<th style="text-align: center; border: none;">No of Cleaners</th>
    							<th style="text-align: center; border: none;">Service Option</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr ng-repeat = "packageSlot in packagesResultSet">
    							<td>{{packageSlot.start_time}} <b>-</b> {{packageSlot.end_time}} </td>
    							<td>{{packageSlot.package_resource}}</td>
    							<td>
    								<div class="col-md-3">
    									<input type="radio" name="service_option" ng-model="service_option" value="adhoc">Adhoc <br/>
    									<input type="radio" name="service_option" ng-model="service_option" value="weekly" >Weekly
                                        <div class="product-noselected-message" style="font-size: 10px; color: red"></div>
    								</div>
    								<div class="col-md-3">
    									<button class="btn btn-default" ng-click="getReservationDetails('lg', packageSlot)"> Book Now </button>	
    								</div>

    							</td>
    						
    						</tr>
    					</tbody>
    				</table>
    		</div>
    	</tab>
    	<tab heading="Monday"><div ng-include src="sunday.html"></div></tab>
    	<tab heading="Tuesday">Tuesday</tab>
    	<tab heading="Wednesday">Wednesday</tab>
    	<tab heading="Thursday">Thursday</tab>
    	<tab heading="Friday">Friday</tab>
    	<tab heading="Saturday">Saturday</tab>
  	</tabset>
	</div>
	
	<!-- <div class="calendar-view hidden">
		<div id="calendar" ui-calendar="calendarOptions.calendar" ng-model="eventSources"></div>
		<button type="button" ng-click="makeReservation()">Save</button>
	</div> -->
</div>