
<div class="container" style="padding-bottom: 20px; padding-top: 20px">
	<div ng-controller='CleaningServicesCtrl'>
		<h1>Make Reservation</h1>
		<div class="col-md-6">
		<form name="mortgageForm" ng-submit="submit_info('sm')">
			<div class="col-xs-12">
				<div class="col-xs-6">
 					<label>Date:</label>
    				<label>{{Date.Now()}}</label>
  				
   			</div> 
  			<div class="col-xs-6">
 					<label>Time Slot:</label>
    				<label>{{Date.getTime()}}</label>
  				
  			</div>   
			</div>
	 		<div class="col-xs-12">
				<div class="col-xs-6">
 					<label>No of Cleaners:</label>
    				<label>2</label>
  				
   			</div> 
  			<div class="col-xs-6">
 					<label> Location:</label>
    				<label>KL</label>
  				
  			</div>   
			</div>
			<div class="col-xs-12">
				<div class="">
 					<label class="col-xs-6">Name:</label>
    				<input class="col-xs-6" name="" type="text" required/>
   			</div> 
  			<div class="">
 					<label class="col-xs-6"> Phone Number:</label>
    				<input class="col-xs-6" name="" type="text" required/>
  			</div>   
  			<div class="">
 					<label class="col-xs-6"> Address:</label>
    				<input class="col-xs-6" name="" type="text" required/>
  			</div> 
			</div>
      <div class="row apply-form-btn-row">
      	<button class="btn btn-default btn-application-submit" role="next">Submit</button>
        <button class="btn btn-default apply-cancel-btn" role="cancel" ng-click="cancel()">Cancel</button>
      </div>
		</form>
		</div>
	</div>
</div>